/* Global Styles */
:root {
  --bg-color: #0c4da2;
  --link-hover-color: #2ea3f2;
  --text-color: #f4f4f4;
  --disable-color: #666666;
}

*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  color: var(--text-color);
}

a {
  color: var(--text-color);
  text-decoration: none;
}

a:hover {
  color: var(--link-hover-color);
  text-decoration: none;
}

ul {
  list-style-type: none;
}

.container {
  width: 80%;
  margin: 0 auto;
}

/* Header */

header {
  background-color: var(--bg-color);
  padding: 0.5rem 0;
}

header .logo {
  display: inline;
}

header .logo img {
  height: 75px;
  margin-right: 0.5rem;
  vertical-align: middle;
}

header .logo span {
  line-height: 75px;
}

header nav {
  float: right;
}

header nav li {
  display: inline;
  line-height: 75px;
  margin-right: 0.5rem;
}

/* Banner */

.banner img {
  width: 100%;
  object-fit: cover;
  max-height: 85vh;
}
